:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --cover-color: none;
  --title-name-font-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-name-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-text-color: #353430;
}

@media (prefers-color-scheme:light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --cover-color: none;
    --title-name-font-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-name-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --main-text-color: #353430;
  }

  .decoration-rec {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--main-text-color);
  }

  .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .header__theme-menu-button:active {
    border: 1px solid var(--main-text-color);
  }

  .header__theme-menu-button:focus-visible {
    border: 1px solid var(--main-text-color);
  }
}