/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--cover-image);
  background-color: var(--cover-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding-block: 20px;
  padding-inline: 10px;
  align-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--accent-color);
  border-style: solid;
  border-width: 0;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top-width: 1px;
  border-right-width: 1px;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.decoration-rec {
  position: absolute;
  top: 10px;
  right: 19px;
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
}

.decoration-rec::after {
  content: '';
  display: inline-block;
  width: 0.563em;
  height: 0.563em;
  vertical-align: middle;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 0.125em 0.125em var(--accent-color);
  margin-inline-start: 0.625em;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  justify-self: baseline;
  align-self: center;
  padding-inline: 0.813em;
  padding-block: 0.092em;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline-color: transparent;
  border-bottom: 1px solid var(--accent-color);
}

.header__title-name {
  font-size: var(--title-name-font-size);
  color: var(--title-name-font-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 83%;
  justify-self: start;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--cover-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 40px;
  padding-inline: 10px;
  gap: 50px;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.subtitle {
  align-self: start;
}

.section_article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
}

.article_link {
  line-height: 1.125em;
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.article_link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.article_link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.normal-font-weight {
  font-weight: 400;
}

.pictures_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  box-sizing: border-box;
  gap: 10px;
}

.section_image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 10px;
  padding-inline: 10px;
  align-items: center;
  justify-items: center;
}

.footer__title {
  font-size: var(--title-name-font-size);
  color: var(--title-name-font-color);
  text-shadow: 1px 2px var(--accent-color);
  font-weight: 700;
  line-height: 83%;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding-block: 20px;
    padding-inline: 20px;
    margin-block-end: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decoration-rec {
    position: absolute;
    top: 20px;
    right: 29px;
    line-height: 25px;
  }

  .header__theme-menu {
    grid-column: 2 / 2;
    margin-block-start: 110px;
  }

  .header__title-name {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title-decor {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: start;
    margin-block-start: 48px;
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .section-title {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    align-self: start;
  }

  .section_article {
    grid-column: 2 / 2;
    align-self: baseline;
  }

  .horizontal_section .section-title {
    grid-column: 1 / auto;
    grid-row: 1 / auto;
  }

  .horizontal_section .section_article {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .pictures_section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    box-sizing: border-box;
    gap: 20px;
    margin-block-end: 20px;
  }

  .pictures_section .title-decor {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .section_image:first-child {
    grid-column: 1 / span 3;
    grid-row: 1 / 1;
  }

  .section_image:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
  }

  .section_image:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
  }

  .section_image:nth-child(4) {
    grid-column: 1 / 1;
    grid-row: 3 / 5;
  }

  .section_image:nth-child(6) {
    grid-column: 2 / span 2;
    grid-row: 4 / 5;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: 1 / span 3;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header .title-decor {
    margin-block-start: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2.07fr;
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  .section-title {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
  }

  .section_article {
    grid-column: 2 / 2;
    align-self: baseline;
  }

  .horizontal_section {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .horizontal_section .section-title {
    grid-row: 1 / auto;
  }

  .horizontal_section .section_article {
    grid-column: auto / auto;
    grid-row: 2 / 2;
    align-self: baseline;
  }

  .pictures_section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    box-sizing: border-box;
    gap: 20px;
    margin-block-end: 20px;
  }

  .pictures_section .title-decor {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .section_image:first-child {
    grid-column: 1 / span 3;
    grid-row: 1 / 1;
  }

  .section_image:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
  }

  .section_image:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
  }

  .section_image:nth-child(4) {
    grid-column: 1 / 1;
    grid-row: 3 / 5;
  }

  .section_image:nth-child(6) {
    grid-column: 2 / span 2;
    grid-row: 4 / 5;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}